*{
  padding: 0px;
  margin : 0px;
}
html , body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.headerCls , .mainContainer , .footerCls{
  width: 100%;
  overflow: hidden;
}
.headerCls{
  height: 7%;
  background: #80758a;
}
.footerCls{
  height: 5%;
  background: #80758a;
}
.mainContainer{
  height: calc(100% - 12%);
}
.headerCls .headerClsTitle{
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  padding: 0.2% 0.6%;
  font-family: cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  float: left;
}
.footerCls .footerText{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 0.1% 0%;
  color: #fff;
  font-family: cursive;
}
